{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "gwmiller@us.ibm.com",
      "Space": "ruCommonSpace"
    },
    "Name": "ruwebapp",
    "Instrumentation": {
      "memory": "768m"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}